{{> head }}


    
    {{> navbar }}

    <div class="row">
        <div class="col-6">
            <h1>NOSOTROS</h1>
            <p>
                Grupo SIT S.A nace en el año 2018 como una solución para el cumplimiento de la facturación electrónica en Costa Rica.

Sus dos socios fundadores, aportan más de quince años de experiencia en Ingeniería en Sistemas y Contaduría Pública.

En los primeros meses la empresa ha diversificado la cartera de producto, atendiendo las necesidades de clientes nuevos.
            </p>
        </div>

        <div class="col-6">
            <img src="assets/img/about.jpg" class="img-thumbnail">
        </div>
    </div>


    {{> footer }}

